.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  margin-top: 50px;
  box-sizing: border-box;
}
  
  .contact-page h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    gap: 20px;
  }
  
  .contact-form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #444;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    resize: vertical;
  }
  
  .contact-form textarea {
    min-height: 120px;
  }
  
  .status-message {
    margin-top: 20px;
    font-weight: bold;
    color: #4F46E5;
  }

  

  .checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px; /* Espace entre la case à cocher et le texte */
    margin-top: 10px;
  }
  
  .checkbox-container input[type="checkbox"] {
    margin: 0; /* Supprime les marges par défaut */
    flex-shrink: 0; /* Empêche la case à cocher de se réduire */
  }
  
  .checkbox-container span {
    flex-grow: 1; /* Permet au texte de prendre l'espace restant si nécessaire */
  }